body {
  font: 16px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 25px 50px;
}

a {
  color: #27ae60;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background: #27ae60;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 100px;
  margin-left: -15px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

hr {
  border-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

hr::after {
  content: '***';
  text-align: center;
  display: inline;
}

footer {
  margin-top: 100px;
  width: 100%;
}

#logo {
  margin-bottom: 50px;
}

.site-actions {
  margin-bottom: 50px;
  float: right;
}

.site-actions br {
  line-height: 25px;
}

.site-actions a {
  color: #2C3E50;
}

.site-actions a:hover {
  background-color: #2C3E50;
  color: #fff;
}

#topics > .topic {
  margin-bottom: 10px;
}

.topic-actions a {
  color: #7F8C8D;
}

.topic-actions a:hover {
  background-color: #7F8C8D;
  color: #fff;
}

.topic-submitter {
  color: #95A5A6;
}

.topic-content {
  margin-top: -10px;
  max-width: 700px;
}

.topic-content p {
  margin-bottom: 20px;
  line-height: 24px;
}

.comment-submitter {
  color: #95A5A6;
}

.comment-content {
  margin-top: -10px;
}

input.link-title, input.link-content, input.text-title {
  width: 500px;
}

textarea.text-content,
textarea.comment-content {
  height: 100px;
  max-width: 100%;
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
}

.center { text-align: center; }
.pull-left { float: left; }
.pull-right { float: right; }

.has-error { color: #E74C3C; }

/* http://designmodo.github.io/Flat-UI/ */
.turquoise { color: #1ABC9C; }
.green-sea { color: #16A085; }
.emerald { color: #2ECC71; }
.nephritis { color: #27AE60; }
.peter-river { color: #3498DB; }
.belize-hole { color: #2980B9; }
.amethyst { color: #9B59B6; }
.wisteria { color: #8E44AD; }
.wet-asphalt { color: #34495E; }
.midnight-blue { color: #2C3E50; }
.sun-flower { color: #F1C40F; }
.orange { color: #F39C12; }
.carrot { color: #E67E22; }
.pumpkin { color: #D35400; }
.alizarin { color: #E74C3C; }
.pomegranate { color: #C0392B; }
.clouds { color: #ECF0F1; }
.silver { color: #BDC3C7; }
.concrete { color: #95A5A6; }
.asbestos { color: #7F8C8D; }
